

<div class="row">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
        <ui-gmap-markers models="markers" coords="'self'" modelsbyref="false" click="onClick" />
            <ui-gmap-windows show="show">
                <div ng-non-bindable>
                    {{title}}
                    <p>{{content}}</p>
                </div>
            </ui-gmap-windows>

        	<ui-gmap-map-control
    			template="static/partials/partial-map-controller.html" position="top-right"
                index="-1" controller='mapController'>
    		</ui-gmap-map-control>

    </ui-gmap-google-map>
</div>

<div class="row">
    <div class="col-4">
        <div class="panel-heading">
            <h2 class="panel-title text-center">
                <span class="glyphicon glyphicon-map-marker"></span>
                Your Current Location: {{ coords }}
            </h2>
        </div>
    </div>
    <div class="col-4">
        <div class="panel-heading">
        </div>
    </div>
    TEST DATA: {{ tsunamiData }}

</div>